body {
	padding: 1rem;
	text-align: center;
	background-size: cover;
	background-repeat: no-repeat;
}

div.flex-column {
	display: flex;
	flex-direction: column;
}

.big-label {
	color: white;
	font-weight: bold;
	font-size: xxx-large;
	box-sizing: border-box;
	height: 69px;
	padding: 0 3%;
	display: flex;
	align-content: center;
	justify-content: center;
	align-items: center;
	border-radius: 10px;
}

span.current-task {
	background-color: rgba(0,0,255,0.4);
	margin: 20px 0;
}

div#taskContainer input {
	width: 80%;
}

div#taskContainer button {
	width: 20%;
}

#move-icon {
	position: absolute;
	width: 35px;
	top: 7px;
	left: 7px;
	background-color: rgba(255,255,255,0.3);
	border-radius: 50%;
	padding: 3px;
}

div#settingsJsonEditor[data-theme="html"] .je-form-input-label {
	display: inline-block;
	margin-right: 10px;
}

.je-indented-panel .row {
	background-color: lightgray;
	padding: 10px;
}

.je-indented-panel .row:not(:last-child) {
	margin-bottom: 10px
}